/**
 * Custom Css for backend 
 *
 * @package RT_Portfolio
 *
*/
#business-process-img-container li{
	padding: 3px;
}
#business-process-img-container .business-process-radio-img-selected{
	border: 3px solid #bcbcbc;
	padding: 1px;
	width: 16%;
}
#customize-controls .control-section-upsell .accordion-section-title:hover,
#customize-controls .control-section-upsell .accordion-section-title:focus {
	background-color: #fff;
}

.control-section-upsell .accordion-section-title .button {
	margin-top:  -4px;
	font-weight: 700;
	margin-left: 8px;
	border-color: #d04031;
	background-color: #f55e4f;
	color: #fff;
}

.control-section-upsell .accordion-section-title .button:hover {
	background-color: #e65e4f;
}

.business-process-repeater-footer .alignright{
	margin-top: -8px;
}